extends ./layout.jade

block head
    title David Kong
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='Personal portfolio page of David Kong')
    meta(name='keywords', content='David,Kong,Portfolio,Software Engineer,Digital Brand Media,Android')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900', rel='stylesheet', type='text/css')


    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href ='css/bootstrap.css')
    link(rel='stylesheet', href='css/kiastuStyles.css')

block content
    #header
        #nav-wrapper
            .container-fluid
                #nav.navbar-fixed-top
                    ul
                        li
                            a(href='../#header') Home
                        li
                            a(href='../#projects') Projects
                        li
                            a(href='/experiments') Experiments
                        li
                            a(href='../#resume') Résumé
    
    .container
        h3 Experiments 
        p      Welcome to the experiments page, where you can find demos of past projects, or current ones I'm (publically) working on.
        
        ul#demolist
            li
                h4 800 Black Forest Squadron Site Redesign
                p A redesign of the 800 Black Forest Squadron's site, with a focus on mobile responsivity.
                a(href='/experiments/800squadron' class ="btn") 800 Squadron
        
    