// This is the header jade file that all other header files inherit from

h1 This is some dope ass Jade shit
script(src = "js/jquery-2.1.1.min.js")
script(src = "js/jquery.kanye-ipsum.js")
script(src = "script.js")
   body
      block content