
//
  Linear by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
    head
        title David Kong
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='description', content='Personal portfolio page of David Kong')
        meta(name='keywords', content='David,Kong,Portfolio,Software Engineer,Digital Brand Media,Android')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900', rel='stylesheet', type='text/css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/style-desktop.css')
        link(rel='stylesheet', href ='css/bootstrap.css')
        link(rel='stylesheet', href='css/kiastuStyles.css')


    body.homepage
        // Header
        #header
            #nav-wrapper
                // Nav
                .container
                    #nav.navbar-fixed-top
                        ul
                            li
                                a(href='#header') Home
                            li
                                a(href='#projects') Projects
                            li
                                a(href='#resume') Résumé

            .container
                // Logo
                #logo
                    h1 David Kong
                    span.tag Software Engineer, Developer, Entrepreneur
                    ul.contact
                        li
                            a.fa.fa-facebook(href='https://facebook.com/dkkong')
                                span Facebook
                        li
                            a.fa.fa-github(href='https://github.com/kiastu')
                                span Github
                        li
                            a.fa.fa-linkedin(href='https://linkedin.com/in/davidkong94')
                                span LinkedIn
                        li
                            a.fa.fa-twitter(href='https://twitter.com/kiastu')
                                span Twitter
        // Featuredx
        #featured
            .container
                #greet.row
                    .col-md-4
                        img.img-circle(src='images/profile.png')
                    .col-md-8.text-right
                        p
                            | Hi! I'm David, a student studying Software Engineering at Western University.
                            br
                            | I develop mainly web-based and Android applications, but love experimenting with new and interesting technologies!
                            | Come check out my projects, and feel free to start a conversation!
                            br
                            br
                            | I am currently looking for opportunities for Summer 2015.
                h3 Skills
                #skills.row

                    .col-md-4
                        h4 Languages/Markup
                        p Java·C++·C#·Javascript·Python·PHP·HTML·CSS·UML
                    .col-md-4
                        h4 Frameworks and Platforms
                        p NodeJs·Express·AngularJs·Laravel·Android·QT
                    .col-md-4
                        h4 Databases
                        p MySQL·MongoDB·SQLite

    // Main
    #main
        #content.container
            .row
                section(id = 'projects')
                    h2 Projects
                    .panel.panel-default
                        .row.panel-body
                            .col-md-4
                                h3 Tweet My Tesla
                                p Built for UofT Hacks 2015, placed top 5 for software hacks. Born from an unsuccessful attempt to shell in to Tesla's onboard computer, Tweet my Tesla allows the user to control the Tesla car's functions via tweets. It also works as an in-car guestbook that passengers can sign.
                                span.label.label-primary NodeJs
                                span.label.label-primary AngularJs
                            .col-md8
                                img.img-rounded.projectImg(src="images/tweetmytesla.png")
                    .panel.panel-default
                        .row.panel-body
                            .col-md-4
                                h3 DriveX
                                p Built for MHacks V. DriveX is a Heads up Display application for Google glass that improves safety for everyday driving. I used Android's AIDL to allow for inter-process communication, and then implemented the async bluetooth server and client for Android.
                                span.label.label-primary Android
                                span.label.label-primary Glass
                            .col-md-8
                                img.img-rounded.projectImg(src="images/drivex.png")
                    .panel.panel-default
                        .row.panel-body
                            .col-md-4
                                h3 Flowt
                                p Built for HackPrinceton Fall 2014. Flowt is an intuitive graphical calendar system built with a Laravel back-end, and BackboneJs front-end. Major features include activity categorization and dynamic zoom.
                                span.label.label-primary Laravel
                                span.label.label-primary BackboneJs
                            .col-md-8
                                img.img-rounded.projectImg(src="images/flowt.png")

                    h4.center Check out more projects on my Github portfolio:
                    a.btn.btn-lg(href='https://github.com/kiastu')
                        i.fa.fa-github

            .row
                section(id = 'resume')
                    h2 Résumé
                    p Website not doing it for you? Here's my downloadable Résumé.
                    a.btn(href='/resume') Download Résumé
    // Tweet
    #tweet
        .container
            section
                blockquote
                    |“Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program."
                    small  Linus Torvalds
    // Footer
    #footer
        .container
                header
                    h2 Get in touch
                    a#email(href='mailto:dk.kong94@gmail.com') dk.kong94@gmail.com
                ul.contact
                    li
                        a.fa.fa-facebook(href='https://facebook.com/dkkong')
                            span Facebook
                    li
                        a.fa.fa-github(href='https://github.com/kiastu')
                            span Github
                    li
                        a.fa.fa-linkedin(href='https://linkedin.com/in/davidkong94')
                            span LinkedIn
                    li
                        a.fa.fa-twitter(href='https://twitter.com/kiastu')
                            span Twitter
                <!--Thanks to TEMPLATED, from which this website was seeded. Evolving bit by bit. After which point in modification, is a site no longer considered something templated?-->
                <!--Just food for thought-->
                p Last updated 2015-02-17
