extends layout

block content
   h1 Welcome to Blog version 0.1! This template is pretty damn basic

   h2 Here is a post
   p and here is some filler text for this particular post

   h2 Here is a post
   p and here is some filler text for this particular post

   h2 Here is a post
   p and here is some filler text for this particular post

   h2 Here is a post
   p and here is some filler text for this particular post

   h2 Here is a post
   p and here is some filler text for this particular post