<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>David Kong</title>
		<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Palanquin&subset=latin" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="fullpage.js/jquery.fullPage.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<style>
		* {
		font-family: 'Palanquin', sans-serif;
		}
		</style>
		<!--TODO: join scripts to a single script -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="js/nav.js"></script>
	</head>
	<div class="content">
		<div class="content-body">
			<h1 class="content-header hidden" id="about_header">Hi, I'm David.</h1>
			<div class="content-text hidden" id="about_text"> I'm a Software Engineer currently working at Amazon in Vancouver, Canada. I have experience in full-stack web development, and have worked for companies such as <a class ="work-link" href="https://weebly.com">Weebly</a>, <a class="work-link" href="https://xperiel.com">Xperiel</a>, and <a class="work-link" href="http://loblawdigital.co/">Loblaw Digital</a>. 
			</br>In my spare time, I experiment with Virtual and Augmented Reality technologies. 
			</br></br>Feel free to <a class="nav-link" target="contact">contact</a> me!
			</br>
			<div class="social">
				<a href="https://github.com/kiastu" class="socicon-github"></a>
				<a href="https://linkedin.com/in/davidkong94" class="socicon-linkedin"></a>
				<a href="https://www.facebook.com/dkkong" class="socicon-facebook"></a>
				<a href="https://twitter.com/kiastu" class="socicon-twitter"></a>
			</div>
			{{!-- </br>I'm currently looking for full-time opportunities. --}}
		</div>
	</div>
</div>
</div>
<noscript>
Hey there! Thanks for visiting my site, but I'm afraid nothing really works without Javascript :(
</noscript>
</html>
