html
    head
        block head
    body 
        #header
                #nav-wrapper
                    // Nav
                    .container
                        #nav.navbar-fixed-top
                            ul
                                li
                                    a(href='#header') Home
                                li
                                    a(href='#projects') Projects
                                li
                                    a(href='#resume') Résumé
        block content
        