
/* HTML Modfications*/
body{
    overflow-x: hidden;
    font-family:"Roboto", sans-serif;
}
h1{
    font-size:8em;
}
h2{
    font-size:4em;
}
h3{
    font-size:2.5em;
    font-weight:bold;
}
h4{
    font-size:1.5em;
}
section{
    padding:10px;
}
i{
    font-size:50px;
}
p{
    font-size:1.20em;
}
/*Fix navbar positioning*/
body{
    padding-top:65px;
}

/* div Classes*/

.btn{
    background-color:#37474F;
    vertical-align:middle;
    text-decoration:none;
    color:#FFF;

}
.btn:hover
{
    background: #202D3A;
    color: #FFF !important;
}
/* Project images*/
.projectImg{
    width:650px;
    height:auto;
}
.centre{
    margin-left:auto;
    margin-right:auto;
}
.col-lg-4 i{
    display:block;
    text-align:center;
    font-size:30px;
}
.img-circle{
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
.panel{
    background-color:#F2F2F2;
}
.label{
    margin:0.5em;
    font-size:1.25em;
}
/*Div ID*/
#logo a{
    font-size:2em;
}
#greet{
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    font-size:1.25em;
}
#featured h3{
font-size:2.25em;
    font-weight:bold;

}
#footer{
    background-color:#1f1f1f;
    color:#FFFFFF;
}
#nav{
    background-color:#37474F;
    -webkit-box-shadow: 0 8px 6px -6px #1f1f1f;
    -moz-box-shadow: 0 8px 6px -6px #1f1f1f;
    box-shadow: 0 8px 6px -6px #1f1f1f;
}
/* Fixes # nav positioning*/
#projects,#resume {
    padding-top: 80px;
    margin-top: -50px;
}
#email{
    font-size:1.5em;
    font-style:italic;
}

/*Fonts*/
@font-face {
    font-family: colaborateThin;
    src: url(font/ColabThin.otf);
}





