body {
	margin: 0;
	color: #FFF;
	font-family: helvetica;
	font-family: palanquin
}

/** Content Styling **/
.content {
	background-image: url('../images/background.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display:inline-flex;
	.content-body {
		position: relative;
		align-self:center;
		max-width: 650px;
		min-width: 300px;
		padding : 0 40px;
	}

	.content-header {
		font-size: 2.5rem;
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
	}

	.content-text {
		font-size: 1.25rem;
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
	}
	.hidden {
		opacity: 0;
	}
}


/** Social Icons **/

.social {
	display:inline;
	a {
		padding: 0 5px;
		font-size:2rem;
		color: #FFF;
		text-decoration:none;
	}
}

.work-link{
	text-decoration:underline;
	font-weight: bold;
	color: #FFF;
}

// /** Navigation **/
// .nav {
// 	position: absolute;
// 	width: 100%;
// }

// .nav-items {
// 	display: -webkit-box;
// 	display: -moz-box;
// 	display: -ms-flexbox;
// 	display: -webkit-flex;
// 	display: flex;
// 	-webkit-flex-flow: row wrap;

// 	margin: 15px;
// 	align-items:center;
// 	font-size: 20px;

// 	.spacer {
// 		flex-grow: 1;
// 	}
// }

// .nav-item {
// 	width : 75px;
// 	padding: 5px 15px;
// 	margin: 10px;
// 	text-align: center;
// 	color: #AAAAAA;

// 	border: 1px solid transparent;
// 	transition: color 0.5s, border 0.5s;
// 	-webkit-transition: color 0.5s, border 0.5s;

// 	&:hover {
// 		color: #FFF;
// 		cursor: pointer;
// 	}

// 	&.active {
// 		border: 1px solid #FFF;
// 		color: #FFF;
// 	}
// }
